Source: run-one
Section: admin
Priority: optional
Maintainer: Dustin Kirkland <kirkland@ubuntu.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.4
Homepage: https://github.com/dustinkirkland/run-one

Package: run-one
Architecture: all
Depends: ${misc:Depends}, procps
Breaks: bikeshed (<< 1.8)
Replaces: bikeshed (<< 1.8)
Enhances: cron, anacron
Description: run just one instance of a command and its args at a time
 This utility will run just one instance at a time of some command and
 unique set of arguments (useful for cronjobs, eg).
